* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	color: #fff;
}

body {
	min-width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
}

header,
section,
nav,
aside,
footer {
	display: block;
}

header {
	background: #a2b5cd;
	/*background: hsla(200, 10%, 70%, .5);*/
	min-height: 50px;
	padding: 10px 20px;
	width: 100%;
	order: 1;
}

section {
	font-size: 14px
	min-width: 100%;
	margin: 20px 0;
	display: flex;
	order: 2;
	flex: 1;
}

nav {
	background: #ff7f50;
	/*background: hsla(300, 60%, 20%, .9);*/
	padding: 1%;
	padding-top: 5%;
	padding-left: 2.5%;
	width: 220px;
	order: 1;
}
article {
	background: #009acd;
	/*background: hsla(120, 50%, 50%, .9);*/
	padding: 5%;
	margin-left: 2%;
	margin-right: 2%;
	flex: 1;
	order: 2;
}
aside {
	background: #ff7f50;
	/*background: hsla(20, 80%, 80%, .9);*/
	padding: 0.5%;
	width: 220px;
	order: 3;

}

footer {
	display: flex;
  align-items: center;
  justify-content: center;
	background: #a2b5cd;
	/*background: hsla(250, 50%, 80%, .9);*/
	min-height: 60px;
	padding: 1%;
	min-width: 100%;
	order: 3;
}

ul{
	/*background: grey;*/
	/*padding-left: 5%;*/
	justify-content: center;
	list-style-type: none;


}

script {
	align-items: center;
	justify-content: flex-end;
}

p{

background-color: grey;
}
